services:
  app:
    build:
      context: .
      dockerfile: infrastructure/Dockerfile
    ports:
      - "800:80"
    restart: always
    networks:
      - portfolio-network

  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    volumes:
      - ./infrastructure/monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - portfolio-network
    depends_on:
      - app

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
    volumes:
      - grafana-data:/var/lib/grafana
    networks:
      - portfolio-network
    depends_on:
      - prometheus

networks:
  portfolio-network:
    driver: bridge

volumes:
  grafana-data: